body {
}

.form-signup, .form-signin {
	width: 400px;
	margin: 0 auto;
}

#create {
    border: 15px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font: 220px/185px "Helvetica",sans-serif;
    padding: 20px;
    text-align: center;
}

#create, textarea {
    float: left;
    height: 250px;
    margin: 0 20px 6px 0;
    padding: 25px 25px 40px;
}

.textarea_design {
    background: linear-gradient(#F9EFAF, #FF867F) repeat fixed 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font: 20px/1.5 'Gloria Hallelujah',cursive;
    height: 250px !important;
    max-width: 520px;
    transition: -webkit-box-shadow 0.5s ease 0s;
}

textarea:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.stick_note:hover .delete-sticky {
    display: block;
}

.delete-sticky {
    display: none;
    float: left;
    font-size: 20px;
    margin: 5px 0 0 -44px;
    cursor: pointer;
} 

.red{
   color: #6D6D6D; 
}